<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.unsyiah.elektro.mobile.ryan.hijaiyah" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Utama"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ba"
            android:label="@string/title_activity_ba" >
        </activity>
        <activity
            android:name=".Ba"
            android:label="@string/title_activity_ba" >
        </activity>
        <activity
            android:name=".Alif"
            android:label="@string/title_activity_alif" >
        </activity>
        <activity
            android:name=".Ta"
            android:label="@string/title_activity_ta" >
        </activity>
        <activity
            android:name=".Tsa"
            android:label="@string/title_activity_tsa" >
        </activity>
        <activity
            android:name=".Ja"
            android:label="@string/title_activity_ja" >
        </activity>
        <activity
            android:name=".PilihHuruf"
            android:label="@string/title_activity_pilih_huruf" >
        </activity>
        <activity
            android:name=".Ha"
            android:label="@string/title_activity_ha" >
        </activity>
        <activity
            android:name=".Kha"
            android:label="@string/title_activity_kha" >
        </activity>
        <activity
            android:name=".Da"
            android:label="@string/title_activity_da" >
        </activity>
        <activity
            android:name=".Dza"
            android:label="@string/title_activity_dza" >
        </activity>
        <activity
            android:name=".Ra"
            android:label="@string/title_activity_ra" >
        </activity>
        <activity
            android:name=".Za"
            android:label="@string/title_activity_za" >
        </activity>
        <activity
            android:name=".Sa"
            android:label="@string/title_activity_sa" >
        </activity>
        <activity
            android:name=".Sya"
            android:label="@string/title_activity_sya" >
        </activity>
        <activity
            android:name=".Sha"
            android:label="@string/title_activity_sha" >
        </activity>
        <activity
            android:name=".Dha"
            android:label="@string/title_activity_dha" >
        </activity>
        <activity
            android:name=".Tha"
            android:label="@string/title_activity_tha" >
        </activity>
        <activity
            android:name=".Zha"
            android:label="@string/title_activity_zha" >
        </activity>
        <activity
            android:name=".Ain"
            android:label="@string/title_activity_ain" >
        </activity>
        <activity
            android:name=".Gha"
            android:label="@string/title_activity_gha" >
        </activity>
        <activity
            android:name=".Fa"
            android:label="@string/title_activity_fa" >
        </activity>
        <activity
            android:name=".Qa"
            android:label="@string/title_activity_qa" >
        </activity>
        <activity
            android:name=".Ka"
            android:label="@string/title_activity_ka" >
        </activity>
        <activity
            android:name=".La"
            android:label="@string/title_activity_la" >
        </activity>
        <activity
            android:name=".Ma"
            android:label="@string/title_activity_ma" >
        </activity>
        <activity
            android:name=".Na"
            android:label="@string/title_activity_na" >
        </activity>
        <activity
            android:name=".Wa"
            android:label="@string/title_activity_wa" >
        </activity>
        <activity
            android:name=".Hamzah"
            android:label="@string/title_activity_hamzah" >
        </activity>
        <activity
            android:name=".Ya"
            android:label="@string/title_activity_ya" >
        </activity>
        <activity
            android:name=".Haa"
            android:label="@string/title_activity_haa" >
        </activity>
    </application>

</manifest>
